### General ###
.vscode

### Frontend ###
/frontend/.vscode
/frontend/node_modules
/frontend/.angular/cache

### Backend ###
/backend/.vscode
/backend/target
/backend/src/main/java/albin2501/util/grid.json
/backend/src/main/java/albin2501/util/textArt.json
