<!-- TODO: This is a placeholder representation of a graph, this will be updated. -->

<div class="container">
    <button (click)="get()" class="get blue">GET</button>
    <button (click)="post()" class="post green"
        [disabled]="shortestPathSelectionDto.endNode == null || shortestPathSelectionDto.startNode == null">POST</button>
    <!--button (click)="getData()" class="getData blue">GET DATA</button-->
    <button (click)="resetNodes()" class="red">RESET</button>
</div>

<div class="containerNodes">
    <div *ngFor="let node of customGraph.nodes" (mousedown)="setNode(node, $event)"
        [style.color]="node === shortestPathSelectionDto.startNode &&
                       node === shortestPathSelectionDto.endNode ? 'blue' : 
                       (node === shortestPathSelectionDto.startNode ? 'green' :
                       (node === shortestPathSelectionDto.endNode ? 'red' : 'inherit'))">
    {{node}}
</div>
</div>

<div class="containerEdges">
    <div *ngFor="let edge of customGraph.edges">
        {{edge.startNode}}-{{edge.endNode}}: {{edge.weight}}
    </div>
</div>
