.header {
  display: flex;
  flex-direction: row;
  justify-content : flex-start;
  gap: 2rem;
  padding: 1rem;
  background: linear-gradient(90deg, rgb(0, 125, 4) -15%,black 15%);
}

.menuItem {
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 3px;
  margin: auto 0 auto 0;
}

.logo {
  font-size: 2rem;
}

.feature {
  font-size: 1.25rem;
}
