<div class="gridContainer" *ngIf="gridDto.grid">
    <div class="grid grayBorder" (mouseleave)="resetActiveCells(); resetMouse()">
        <div class="row" *ngFor="let row of gridDto.grid; let i = index; trackBy: trackByIndex">
            <div (mousedown)="mouseDown(i, j, $event)" (mouseup)="correctMouseLogic ? mouseUp(i, j, $event) : null"
                (mouseover)="mouseHover(i, j, $event)"
                class="cell" *ngFor="let cell of row; let j = index; trackBy: trackByIndex"
                [style.backgroundColor]="gridColor[i][j]"
                [style.opacity]="activeCells[i][j] ? 0.7 : 1">
            </div>
        </div>
    </div>
    <div class="gridMetaInformation">
        <button class="gridEntry" (click)="getGrid(gridEntry)"*ngFor="let gridEntry of gridDataDto.ids">
            Grid #{{gridEntry}}
        </button>
        <button class="red" *ngIf="gridDto.grid" (click)="clearGrid(gridDto.id)">
            Clear
        </button>
        <button class="help blue" (mouseover)="helpText = true" (mouseleave)="helpText = false">
            Help
            <div class="helpText" *ngIf="helpText">
                <div class="text">
                    Firstly, select a grid to draw on.<br>
                    Secondly, select a point by left-clicking the mouse, or select an area<br>
                    by dragging the mouse to color the grid with a random color.<br>
                    If colors touch each other, a new color will replace them.<br>
                    The grid can be cleared to start over.<br>
                    See <i>flooding algorithm</i> for more information.
                </div>
                <div class="arrow"></div>
            </div>
        </button>
    </div>
</div>